<%= render "form"%>
<div class="clear"></div>
<hr/>
<h4>Messages</h4>
<div id="messages_list">
  
    <% @messages.each do |message| %>
      <div class="well">
      	<p class="text-info">To:<%= message.user.name %></p>
      	<div><%= message.responses %></div>
      </div>
    <% end %>
  
</div>

<br/>
